block variables
	- var i = 1
	- var title = 'Породы собак'
	-
		var dictMenu = {'Меню 1': 'маленькие собачки.html', 
				'Меню 2' : "средние собачки.html",  
				'Меню 3': "большие собачки.html",
		}
		
	- var listBreedImages = ['корги.jpg', 'большие собаки.jpg', "белая собака.jpg", "много собак.jpg"]

	- 
		var listLogoSections = [
			{'pic' : 'аляскинский кли-кай.jpg',
			'text' :'Порода северных шпицеобразных собак. Выведена в 1970-х годах в качестве собаки-компаньона, внешним видом напоминающей хаски, которая, однако, сможет с лёгкостью содержаться в квартире из-за своего малого размера и обходиться без длительных прогулок.'
			},
			{'pic' : 'йоркипу.jpg',
			'text' : 'Очаровательная дизайнерская порода, которая получилась благодаря работе селекционеров с мини-пуделем и йоркширским терьером. Йоркипу напоминают маленькие плюшевые игрушки, у них милые мордочки, дружелюбный темперамент.'
			},
			{'pic' : 'керн-терьер.jpg',
			'text' : 'Одна из самых старых пород среди терьеров. Порода известна как одна из самых ранних рабочих собак Шотландии.Керн-терьеров вывели на западе северной высокой части Шотландии для охоты на кроликов и лисиц. Порода зарегистрирована Клубом собаководства в 1912 году.'			
			},
			{'pic' : 'миттельшнауцер.jpg',
			'text' : 'Миттельшнауцер – собака из группы шнауцеров, зарекомендовавшая себя отличным сторожем и поисковиком. Отличительные черты породы – квадратный формат туловища, эффектные «брови» и «бородка» из длинного украшающего волоса.'
			}
		]

mixin createMenu(menu)
	each value, key in menu
		a(href= value)= key




doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet", href="css/main.css")
	body
		div.header
			input(type="text")
		div.menu
			span Породы собак
			+createMenu(dictMenu)
		div.picture
			each value in listBreedImages
				div(class="item-img"+i)
					img(src="img/" +value)
					- i++
		div.logo
			- i = 1
			each item in listLogoSections
				div(class="pics-img"+i)
					img(src="img/"+item.pic)
					div(class="pics-text"+i)
						p=item.text
						- i++
		div.module1
			div.module_text
				h2 Мастиф
				p Мастиф – собака с многовековой историей, прошедшая минимальный путь эволюции от волка к домашнему питомцу. Тысячелетиями животных использовали для охраны домашнего скота от хищников, гладиаторских боев, травли крупной дичи и воинской службы. В частности, надзора за пленниками и лобовой атаки на противника.При всей своей выдержке и внешнем спокойствии, мастиф – порода охранная. Поэтому доля агрессии будет в каждом из ее подвидов.
			div.module_image
			img(src="img/мастиф.jpg")
		div.module2
			h2 Зачем люди заводят собак?
			p Благодаря своему интеллекту, развитому обонянию и слуху, а также высокой обучаемости, собаки привлечены во многие сферы нашей жизни. В наше время все породы этих четвероногих условно делят на служебные, охотничьи, спортивно-служебные и декоративные.С древних времен собаки сопровождали воинов в бою, а во время Великой Отечественной войны эти четвероногие бойцы «служили» в советской армии: подрывали танки, проводили разведку и искали мины.Собаки считаются лучшими охранниками. Даже не обученное специально животное будет охранять жилище человека и защищать людей, потому что такой инстинкт у собаки в крови. Сейчас служебные собаки активно применяются в армии и полиции, патрулируя и охраняя различные объекты.Существуют собаки-спасатели, помогающие отыскивать и спасать людей во время различных аварий и катастроф.Настоящими товарищами и помощниками для своих хозяев – людей, с ограниченными физическими возможностями, становятся собаки-поводыри.
		div.bottom
			span Храмцова Софья Б9121-09.03.04, 2023-2024
			span.right Контакты