body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;
  position: sticky;
  background-image: url("cute-little-dog-isolated-yellow.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed; 
  background-size: contain;
}
/* Стили для заголовка */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Стили для основного контента */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h1, section h2 {
  text-align: center;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

section li {
  margin: 0 20px;
  text-align: center;
}



button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Стили для футера */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
